{% extends "base_generic.html" %}

{% block content %}
  <h2>Lista de Usuarios</h2>
  <a href="{% url 'usuario_create' %}" class="btn btn-primary">Nuevo Usuario</a>
  <ul>
    {% for usuario in object_list %}
      <li>
        <a href="{% url 'usuario_detail' usuario.pk %}">{{ usuario.nombre }} {{ usuario.apellido }}</a>
        <a href="{% url 'usuario_update' usuario.pk %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'usuario_delete' usuario.pk %}" class="btn btn-danger">Eliminar</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
